<script>
    localStorage.setItem('i', 0)
</script>
{{#if region}}
   Текущий регион - <span class="region-title">{{region}}</span>
{{/if}}


<div class="container">
    <div class="toolbar">
        <label>
            <input type="checkbox" class="filled-in region" id="en"/>
            <span>England</span>
        </label>
        <label>
            <input type="checkbox" class="filled-in region" id="fr"/>
            <span>France</span>
        </label>
        <label>
            <input type="checkbox" class="filled-in region" id="de"/>
            <span>Germany</span>
        </label>
    </div>

    <table class="striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody id="main">
        {{#each users}}
            <tr>
                <td>{{number}}</td>
                <td>{{userId}}</td>
                <td>{{username}}</td>
                <td>{{address}}</td>
                <td>{{phone}}</td>
            </tr>
            <script>
                localStorage.setItem('i', {{number}})
            </script>
        {{/each}}

        </tbody>
    </table>
</div>
{{#if region}}
    <script>
            {{region}}.checked = true
    </script>
{{/if}}